.container {
    text-align: center;
    background-color: blueviolet;
    height: 100%;

}

.form {
    position: fixed;
    left: 25%;
    top: 25%;
    z-index: 20;
    width: 50%;
    height: 25%;
}

.members {
    background-color: #DFE9EE;
}

.user {
    width: 100%;
}

.email {
    font-size: 13px;
}