.button-div {
    display: flex;
    justify-content: space-between;
}

.add-task {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.list-name-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 5px;
    background-color: inherit;
    font-weight: inherit;
    outline: none;
    position: relative;
    cursor: pointer;
    justify-content: space-between;
}

.list-name-text {
    margin-bottom: 2%;
}

.react-table {
    background: #DFE9EE;
    border-radius: 10px;
    border: 1px solid #707070;
    width: auto;
    display: flex;
    height: 79vh;
    height: calc(100vh - 7.3rem - 40px);
    font-size: 0.8rem;
}

@media(min-width: 1600px) {
    .react-table {
        font-size: 1rem;
    }
}

.react-table-body {
    -ms-overflow-style: none;
    /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.react-table-body::-webkit-scrollbar {
    display: none;
}

.react-table-tr-group {
    flex: unset !important;
}

.progress-input {
	width: 100%;
	height: 2rem;
	font-size: 1em;
	padding: 5px;
	font-family: inherit;
	border: solid black 1px;
	border-radius: 5px;
	background-color: inherit;
	font-weight: inherit;
	outline: none;
}

.progress-placeholder {
    padding: 5px;
    /* border: solid black 1px; */
    border-radius: 5px;
    height: 2rem;
	font-size: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-list-button {
    font-size: 1rem;
    background: #DFE9EE;
    color: black;
    padding: 10px 15px;
    border-radius: 10px;
    display: block;
    margin: 10px;
    cursor: pointer;
    border: 1px solid #707070;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Lato';
    text-align: center;
}

.add-list-button:hover {
    background-color: #363338;
    border: 1px solid #707070;
    color: white;
}

@media (max-width: 1366px) {
    .add-list-button {
        font-size: 0.8rem
    }
}