.list{
    border: 2px solid #363338;
    background-color: #A6A48E;
    border-radius: 25px;
    margin: 30px;
    width: 20%;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.16);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
}

.row {
    display: flex;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
    width: 100%;
}

.addCard{
    border: solid 1px rgb(104, 95, 95); 
    margin: 5px;   
    display: flex;   
    justify-content: space-between; 
    padding: 5%;
}

button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0px;
    background-color: inherit;
    font-weight: inherit;
}

.button:hover {
    background-color: lemonchiffon;
}


.menu {
    background: #e0dbdb;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.menu.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu > div {
    padding: 5px;
}

.menu > div:hover {
    background-color: khaki;
}

.relative {
    position: relative;
}

.addnote {
    width: 90%;
    font-size: 19px;
    margin: 5px;
    padding: 5px;
}

.addnote:hover {
    background-color: lemonchiffon;
}

.droppable {
    width: 100%;
}