.filter-used {
    width: 6rem;
    margin-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    font-size: 0.8rem;
    min-height: 2.6rem;
    max-height: 2.6rem;
}

.filter-used:hover {
    border-right: 0;
}

.filter-blank {
    width: 7.5rem;
}

@media (max-width: 1366px) {
    .filter-used {
        min-height: unset;
        max-height: unset;
    }
}