.all-card-members {
    box-sizing: border-box;
    position: absolute;
    top: 1rem;
    overflow-y: scroll;
    border: 1px solid #000000; 
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 20px 10px 10px 0;  
    padding: 5px; 
    z-index: 8;
    width: 190px;
    max-height: 180px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.all-card-members::-webkit-scrollbar {
  display: none;
}

.each-member {
    margin: 3px;
    /* display: block; */
    display: flex;
    justify-content: space-between;    
}

.name{
    width: 94%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.each-member .delete-icon{
    visibility: hidden;
}

.each-member:hover .delete-icon{
    visibility: visible;
}

.each-member:hover{
    background-color: rgba(0,0,0,0.05);
}



.avatar {
    margin-right: 5px;   
}