.containerMemb{
    width: 0;
    height: 0;
    position: absolute;
    z-index: 3;
}

.allCardMembers{
    position: absolute;
    top: 1rem;
    /* text-align: end; */
    /* margin-right: 10%; */
    /* min-height: 50px;   */
    overflow-y: scroll;
    border: 1px solid #000000; 
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 20px 10px 10px 0;  
    padding: 5px; 
    z-index: 10;
    width: fit-content;
    min-width: 180px;
}


.allCardMembers::-webkit-scrollbar {
  display: none;
}


.allCardMembers {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}

.eachMember{
    margin: 3px;
    display: block;
}

.avatar{
    margin-right: 5px;   
}

/* #allCardMembers:hover .hide{
    visibility: visible;
} */