.app {   
    margin: 0px;
    display: flex;
    box-sizing: border-box;
}

.content {
    margin: 80px;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-width: 60%;
    padding: 1%;
}

.small {
    margin-left: 170px;
}