

.form{
    position: fixed;
    top: 10%;
    left: 25%;
    /* -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    
    width: 50%;
    min-width: 350px;
    max-width: 600px;
    height: auto;
    min-height: 450px;
    /* max-height: 75%; */


    /* position: absolute; */
    /* left: 30vw; */
    /* top: 15vh; */
    z-index: 20;
    /* width: auto; */
    /* width: 600px; */
    /* max-width: 700px; */
    /* height: auto; */
    /* max-height: 90%; */
    background-color:#F7F7F2;
    border: solid 2px#707070;
    border-radius: 27px;
    color: black;
    overflow-y: unset;
    overflow-x: hidden;
    font-size: 1.3rem;
}

.title {
    width: 100%;
    text-align: center;
    color: black;
    text-decoration: underline;
    margin: 2%;    
    font-size: 1.8em;
    font-weight: 500;
}

.buttonsDiv{
    margin: 5%;
    margin-bottom: 2%;
    width: 70%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
}

.navigateButtons {
    min-width: 150px;
    margin: 0 auto;
    margin: 10px;
}

.inputContainer{
    /* align-items: center; */
    width: 70%;
    margin-left: 15%;
    margin-bottom: 2%;
    display: flex;
}

.inputPrName{
    border: solid 1px #363338;
    border-radius: 10px;
    height: 1.8em;
    width: 100%;
    margin-left: 2%;
    text-align: left;
    background-color:#DFE9EE;
    padding: 1%;
    outline: none;
}

.inputContainerDescr{    
    width: 70%;    
    margin-left: 15%;
    margin-bottom: 1%;
    display: flex;
}

.textareaDescr{
    border: solid 1px #363338;
    border-radius: 10px;
    padding: 1%;
    height: 5em;
    width: 100%;
    margin-left: 2%;  
    background-color: #DFE9EE;  
    resize: none;
    outline: none;
}

.editMembers{
    height: 30%;
}