.container {
    box-sizing: border-box;
    text-align: center;
    background-color:#EDF5F9;
    border: solid 2px #707070;
    border-radius: 27px;
    position: fixed;
    left: 30%;
    top: 30%;
    z-index: 20;
    width: 80%;
    min-width: 340px;
    max-width: 700px;
    max-height: 600px;
    height: auto;
    padding: 1.5rem 3rem;
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.input-container{
    margin-bottom: 2%;
    display: flex;
}

.name {
    width: 50px;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    text-align: left;
}

.name-input {
    border: solid 1px #363338;
    background-color:#E6E6E6;
    border-radius: 10px;       
    padding: 4px;
    resize: vertical;
    margin-left: 2%;
    flex-grow: 1;
    min-height: 33px;
    max-height: 150px;
    box-sizing: border-box;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    text-align: left;
}

.name-input::-webkit-scrollbar {
    display: none;
}

.change-color{
    display: flex;
}

.color-title{
    width: 50px;
    text-align: left;
    font-size: 1.2rem;
}

.color-pick {
    position: absolute;
    left: 3rem;
    margin-top: 0.5rem;
}

.color-button {
    width: 80px;
    height: 20px;
    border-radius: 5px;
    margin-left: 2%;
    margin-top: 0.2rem;
    border: solid 1px #363338;
}

.edit-list-button{
    margin: 0 auto;
    margin-top: 5%;
}

.text {
    font-family: 'Lato', sans-serif;
    font-size: 1.03rem;
}

@media (max-height: 800px) {
    .color-pick {
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }    
}