.container {
    text-align: center;
    background-color:#DFE9EE;
    height: 100%;
    border: solid 2px #707070;
    border-radius: 27px;
}

.form {
    position: fixed;
    left: 30%;
    top: 30%;
    z-index: 20;
    width: 40%;
    height: 30%;
    
}

.changeColor{
    margin: 2%;
    margin-left: 25%;
    width: 50%;
    display: flex;
    /* justify-content: space-between; */
}

.listColor{
    margin-left: 12%;
}

.color-pick {
    position: absolute;
    left: 60%;
}

.color-button {
    width: 40px;
    height: 20px;
    border-radius: 5px;
}

.editListButton{
    /* width: 14%; */
    margin: 0 auto;
    margin-top: 5%;
}