.container {
    width: 80%; 
    min-width: 500px;  
    background-color:#F7F7F2;
    /* margin: 40px; */
    /* margin-left: 30px; */
    /* margin-top: 20px; */
    margin-bottom: 20px;
    height: 100px;
    border-radius: 19px;
    border: solid 1px #707070;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1%;
    overflow-y: scroll;
    flex-grow: 1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.leftSide{
    /* margin-top: 1%; */
    /* max-width: 500px; */
    /* display: flex; */
    /* align-items: stretch; */
}

.key {
    padding: 10px;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: 600;
    color: black;
    margin-top: 2%;
    /* width: 70%; */
}

.value {
    padding: 10px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    color: black;
    margin-top: 10%;
    /* width: 70%; */
}





.info {
    font-size: 16px;
    font-weight: 500;
    background: #DFE9EE;
    color: black;
    padding: 5px;
    width: 60px;
    height: 20px;
    border-radius: 19px;
    /* display: block; */
    /* margin: 0 auto; */
    /* margin: 10px; */
    /* margin-left: 25px; */
    cursor: pointer;
    border: 1px solid #707070;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    /* margin: 3px; */
    margin-top: auto;
    /* margin-left: 70%; */
    font-size: 1em;
    margin-right: 1%;
    margin-bottom: 1%;
    /* padding: 2px; */
    /* border-radius: 5px; */
    text-align: center;
    /* width: 20%; */
    
}

.info:hover{
    background-color: #fff;
    /* border: 1px solid #707070; */
    border-radius: 19px;
    color:black;
    font-style: italic;
  }



  .newProjectButton {
    font-size: 16px;
    font-weight: 500;
    background: #DFE9EE;
    color: black;
    padding: 5px;
    width: 120px;
    height: 46px;
    border-radius: 19px;
    display: block;
    margin: 0 auto;
    margin: 10px;
    margin-left: 25px;
    cursor: pointer;
    border: 1px solid #707070;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  }
  
  .newProjectButton:hover{
    background-color: #fff;
    border: 1px solid #707070;
    color:black;
    font-style: italic;
  }