.container {
    min-width: 200px;  
    background-color:#F7F7F2;    
    margin-bottom: 20px;
    height: auto;
    border-radius: 19px;
    border: solid 1px #707070;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
   
    padding: 2%;
    flex-grow: 1;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
    display: none;
} 

.top-side{
    max-height: 180px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  
}

.top-side::-webkit-scrollbar {
    display: none;
}

.key {
    text-decoration: none;
    font-size: 1.6em;
    font-weight: 600;
    color: black;
    margin-top: 2%;
}

.key-lower {
    text-decoration: none;
    font-size: 1.6em;
    font-weight: 600;
    color: black;
}

.value {
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    color: black;
    margin-top: 10%;
 
}


.info {    
    /* margin-top: auto;    
    margin-right: 1%;
    margin-bottom: 1%;     */
}

.info-btn{
  padding: 6px 20px 4px;
}

.lower-side{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    align-items: center;
}