.container {
    width: 80%;   
    background-color:#F7F7F2;
    margin: 50px;
    margin-left: 30px;
    min-height: 120px;
    border-radius: 19px;
    border: solid 1px #707070;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2%;
}

.leftSide{
    margin-top: 2%;
    /* max-width: 500px; */
    /* display: flex; */
    /* align-items: stretch; */
}

.key {
    padding: 15px;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: 600;
    color: black;
    margin-top: 10%;
    /* width: 70%; */
}

.value {
    padding: 15px;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
    color: black;
    margin-top: 10%;
    /* width: 70%; */
}





.info {
    font-size: 16px;
    font-weight: 500;
    background: #DFE9EE;
    color: black;
    padding: 5px;
    width: 60px;
    height: 20px;
    border-radius: 19px;
    /* display: block; */
    /* margin: 0 auto; */
    /* margin: 10px; */
    /* margin-left: 25px; */
    cursor: pointer;
    border: 1px solid #707070;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    /* margin: 3px; */
    margin-top: auto;
    /* margin-left: 70%; */
    font-size: 1em;
    margin-right: 5%;
    /* margin-bottom: 2%; */
    /* padding: 2px; */
    /* border-radius: 5px; */
    text-align: center;
    /* width: 20%; */
    
}

.info:hover{
    /* background-color: #EDF5F9; */
    /* border: 1px solid #707070; */
    border-radius: 2px;
    color:black;
    font-style: italic;
  }



  .newProjectButton {
    font-size: 16px;
    font-weight: 500;
    background: #DFE9EE;
    color: black;
    padding: 5px;
    width: 120px;
    height: 46px;
    border-radius: 19px;
    display: block;
    margin: 0 auto;
    margin: 10px;
    margin-left: 25px;
    cursor: pointer;
    border: 1px solid #707070;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  }
  
  .newProjectButton:hover{
    background-color: #fff;
    border: 1px solid #707070;
    color:black;
    font-style: italic;
  }