.container {    
    position: absolute;
    left: 30%;
    top: 15vh;
    z-index: 20;
    width: 45%;
    min-width: 500px;
    min-height: 70vh;
    height: auto;
    /* max-height: 90vh; */
    background-color:#EDF5F9;
    border: solid 2px #707070;
    border-radius: 27px;  
    padding: 2%;
    overflow-y: auto;
}

.alerts{
    width: 100%;
    height: 5%;    
}

.innerContainer{
    width: 100%;
    height: 95%;
    display: flex;
}

.logo{
    margin: 1%;
    margin-top: 0%;
    margin-right: 2%;
    height: 90%;
    width: 10%;
}
.rightSide{
    width: 80%;
   height: 90%;
   /* margin-right: 25%; */
   /* margin: 0 auto; */
   /* margin-top: 10%;   */
   display: block;
   align-items: center; 
   justify-content: center;   
}

.title {
    width: 80%;
    /* text-align: center; */
    color: black;
    text-decoration: underline;
    margin: 0 auto;
    margin-bottom: 2%;
    /* margin-left: 15%;   */
    font-size: 1.8em;
    font-weight: 600;
    text-align: center;
}

.inputContainer{
    align-items: center;
    width: 40%; 
    margin: 3% auto;    
    margin-bottom: 2%;
}

.emailInput{
    border: solid 1px #363338;
    border-radius: 5px;
    height: 1.5em;
    width: 100%;
    margin: 0 auto;
    padding: 3px;
    text-align: left;
    outline: none;
}
.passInput{
    border: solid 1px #363338;
    border-radius: 5px;
    height: 1.5em;
    width: 100%;
    margin: 0 auto;
    padding: 3px;
    text-align: left;
    outline: none;
}

.loginButton{
    color: #fff;
    background-color: #363338;
    border-radius: 15px;
    width: 100%;
    height: 1.9em;
    border: none; 
    margin: 0 auto;
    z-index: 1;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    outline: none;
  }

  .buttonDivLogin{
      margin: 5% auto;
      width: 25%;     
  }

  .textDiv{      
      text-align: center;      
  }

  .buttonDivGoogleLogin{
    margin: 5% auto;
    width: 55%;    
}

  .forgotPass{
    text-decoration: underline;
    font-weight: lighter;
    margin-bottom: 5%;
    color: #363338;
  }

  .newToSmM{    
    font-weight: lighter;
    margin-bottom: 5%;
    color: #363338;
  }

  .signUpBtn{
      border: none;
      text-decoration: underline;
      color: #F3981F;
      margin: 2%;
      cursor: pointer;
      font-weight: 500;
      font-size: 1em;
      background-color: #EDF5F9;
  }

  .googleLoginBtn{     
    color: #363338;
    background-color: #F7F7F2;
    border-radius: 10px;
    border: solid 1px #707070 ;
    width: 65%;
    height: auto;
    /* margin: 2%; */
    margin: 5% auto;
    padding: 2%;
    /* margin-left: 15%; */
    z-index: 1;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: space-between;
    outline: none;
  }