
.container {
    position: fixed;
    left: 30%;
    top: 15%;
    z-index: 20;
    width: 40%;
    height: 70%;
    background-color:#E6E6E6;
    border: solid 1px #707070;
    border-radius: 27px;
}

.inputTitles{
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.nameContainer{
 margin: 20px;
}

.nameInput{
    margin: 15%;
    border: 1px solid #000000; 
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;   
    display: flex;   
    justify-content: space-between; 
    padding: 4px;
    font-weight: normal;
}




















.editMembers {
    padding: 3%;
}
.membersList {
    display: flex;
    justify-content: space-between;
}
.editMembersButton {
    background: #70133a;
    color: #fff;
    padding: 10px;
    width: 110px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin: 10px;
    cursor: pointer;
    border: 2px solid #234465;
}

.editMembersButton:hover{
    background-color: #fff;
    border: 2px solid #234465;
    color: #234465;
    font-style: italic;
  }
  .membersNames{
      border: rgb(0, 102, 255) solid 1px;
      padding: 1%;
      border-radius: 1%;
      margin: 2%;
  }
  .editCardButtons{
      margin: 2%;
  }