.submit {
    background: #234465;
    color: #fff;
    padding: 10px;
    width: 110px;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    margin: 10px;
    cursor: pointer;
    border: 2px solid #234465;
  }
  
  .submit:hover{
    background-color: #fff;
    border: 2px solid #234465;
    color: #234465;
    font-style: italic;
  }