.button {
    width: 2rem;
    height: 2rem;
    min-width: 2rem;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #C1CBCF;
}

.attachments {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}