.search-container{
    width: 250px;
    max-height: 200px;
    height: auto;
    min-height: 30px;
    color: black;
    padding: 10px;
    border: solid 1px #363338;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
    margin-left: 0.5%;
    margin-top: 1%;
    margin-right: 20px;

    white-space: nowrap; 
    /* overflow: hidden; */
    text-overflow: ellipsis;

    background: #DFE9EE;
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .search-container {
        background: #363338;
        color: white;
    }
}