@font-face {
  font-family: 'myLucida' ;
  src: url('../../fonts/LCALLIG.TTF') format('truetype');
}

.container {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.top-container {
  width: 100%;
  min-height: 78vh;
  background: rgb(166,164,142);
  display: flex;
  flex-direction: column;
}

.top-div-container{
  width: 100%;
  min-height: 30%;
  background-color:#EDF5F9;
  position: relative;
}

.header-nav{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo{  
  width: 12rem;
  margin: 2%;
}


.first-buttons{
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin-top: 1.5%;
  margin-bottom: 2%;
  margin-right: 5%;
  justify-content: center;
  z-index: 5;
}

.pic1 {     
  overflow: hidden;
  position: absolute;
  right: 0;
  top: -70px;
  width: 50vw;
  max-width: 800px;
}

.pic2 {  
  z-index: 0;  
  position: absolute;
  right: 7vw; 
  top: 100px;
  width: 30vw;
}

.lower-div-container{
  height: auto;
  min-height: 55vh;
  background: linear-gradient(180deg, rgba(237,245,249,1) 1%, rgba(166,164,142,1) 100%);
}

.first-text{
  margin-left: 10%;
  margin-right: 45%;  
  z-index: 50;
  text-align: center;
  height: auto;
}

.login-button{
  color: #fff;
  background-color: #363338;
  border-radius: 15px;
  width: 6em;
  height: 1.5em;
  border: none; 
  margin: 0.5em;
  z-index: 1;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
}

.login-button:hover{
  background: #EDF5F9;
  color: black; 
}

.sign-up-button {
  width: 6em;
  height: 1.5em;
  border-radius: 15px;
  z-index: 1;
  margin: 0.5em;
  color: #F7F7F2;  
  background: #363338;
  border: solid 0px #707070;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  right: 35px;
  top: 40px;
  outline: none;
}

.sign-up-button:hover{
  background: #EDF5F9;
  color: black; 
}

.headers{
  z-index: 5;
  font-weight: 600;
  font-size: 2.5em;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.lucida{
  font-weight: lighter;
  font-size: 1.1em;
  font-family: 'myLucida', cursive;
}

.paragraph{
  font-weight: lighter;
  margin-top: 3%; 
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.second-sign-up-button{
  width: 200px;
  height: 50px;
  border-radius: 34px;
  color: #F7F7F2;  
  background: #363338;
  border: solid 1px #707070;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  margin: 10% 0 5% 0;
}

.second-container {
  width: 100%;
  height: auto;
}

.first-row{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.second-text{
  margin: 2%;
  margin-top: 3%;
  flex-grow: 1;
  text-align: center;
}

.third-sign-up-button{
  width: 200px;
  height: 50px;
  border-radius: 34px;
  color: black;  
  background: #F3981F;
  border: solid 2px black;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  margin-top: 8%;
  margin-bottom: 5%;
}

.pic3-container {  
  margin: 2%;
  max-width: 90%;
  display: flex;
  justify-content: center;  
}

.picture {  
  max-width: 100%;
}

.second-row{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}

.second-row-colum {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.second-row-pic{
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-items: flex-start;
  padding: 15% 0;
}

.pic4-container {  
  width: 615px;
  margin:5%;
  max-width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.third-row{  
  display: flex;
  flex-direction: column;
}

.pic6-container{
  display: flex;
  justify-content: center;
}

.content-wrap{
  display: flex;
  flex-direction: column;
}

.footer{  
  width: 100%;
  background: #363338;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-column{
  margin: 2%;
  display: flex;
  justify-content: center;  
}

.footer-headers{
  font-size: 1em;
  width: auto;
}

.footer-info{
  margin-left: 5%;
}

.last-column{
  margin: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-media-container{
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.social-media{
  width: auto;  
  max-width: 70%;
}

.sd2006{  
 text-align: center;
}

@media screen and (max-width:800px) {
  .header-nav {
    flex-direction: column;
  }

  .logo {
    width: 7rem;
  }

  .top-div-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pic2 {
    position: static;
    margin-bottom: 1rem;
    min-width: 17rem;
  }

  .first-buttons {
    margin-right: 0;
  }

  .first-text {
    margin: 10px 10% 10px 10%;
  }

  .second-text {
    margin: 30px 10% 10px 10%;
  }

  .second-row-colum {
    margin: 0;
    width: 100%;
  }

  }

  @media screen and (max-width:448px) {
    .footer {
      justify-content: flex-start;
      padding-left: 25%;
    }
  }