.attachment {
    width: 2rem;
    height: 2rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.attachment:hover {
    border-top-style: hidden;
}

.att-picture {
    height: 100%;
}

.format {
    position: relative;
    top: -1.4rem;
    font-size: 0.7rem;
    text-transform: uppercase;
    background-color: rgb(200, 200, 200);
    height: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name {
    background-color: white;
    width: fit-content;
    max-width: 9rem;
    padding: 4px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    top: -1rem;
    right: calc(var(--width) - 2rem);
    border: 0.5px solid #363338;
    font-size: 0.7rem;
    box-sizing: border-box;
}

@media (max-width: 750px) {
    .name {
        right: 0;
    }
}