.pageContainer {
    width: 100%;
    position: unset;    
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgba(0,0,0,0.1); */
    /* height: 78vh; */
    height: auto;
}


.columns {
    width: 100%;
}

.task{
    background-color: blue;
}
.buttoDiv{
    display: flex;
    justify-content: space-between;
}



.addTaskField{
    background-color: rgb(201, 39, 39);
    color: white;
    display: flex;
    justify-content: flex-end;
}



.input {
    border: 1px solid #000000; 
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;   
    padding: 6px;
    font-weight: normal;
    flex-grow: 1;
}

.addlist {
    font-size: 1rem;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
.addlist:hover {
    background-color: lemonchiffon;
}


.daylyProgress{
    width: 100%;    
    display: flex;
    justify-content: center;
}

.navigateButtons {
    background: #DFE9EE;
    color: black;
    padding: 10px;
    min-width: 150px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin: 10px;
    cursor: pointer;
    border: 1px solid #707070;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
  .navigateButtons:hover{
    background-color: #363338;
    border: 1px solid #707070;
    color: white;
    font-style: italic;
  }




  .header{
      font-weight: bold;
  }

  .listNameContainer{ 
    display: flex;
    flex-wrap: wrap;
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 5px;
    background-color: inherit;
    font-weight: inherit;
    outline: none;
    position: relative;
    cursor: pointer;
    justify-content: space-between;
}

.listNameColor{   
    position: absolute;
    left: 0;
    z-index: -1;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.listNameText{   
    /* text-align: center; */
    margin-bottom: 2%;   
}

 
 .daysButtons{
     display: flex;
     align-items: center;
 }

 .picContainer {
    position: relative;
    text-align: center;
    color: black;
    font-size: 1rem;
    min-width: 150px;
    cursor: pointer;
}

  .centeredText {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reactTable {
    background: #DFE9EE;
    border-radius: 10px;
    border: 1px solid #707070;
    width: auto;
    display: flex;
    height: 79vh;
    height: calc(100vh - 6.7rem - 40px);
    width: calc(100vw - 4rem);
    font-size: 0.8rem;
}

@media(min-width: 1600px) {
    .reactTable {
        font-size: 1rem;
    }
}

.reactTableBody {
    -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.reactTableBody::-webkit-scrollbar {
    display: none;
}