.pageContainer {
    width: 100%;
    position: unset;    
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgba(0,0,0,0.1); */
    /* height: 78vh; */
    height: auto;
}


.columns {
    width: 100%;
}

.task{
    background-color: blue;
}
.buttoDiv{
    display: flex;
    justify-content: space-between;
}



.addTaskField{
    background-color: rgb(201, 39, 39);
    color: white;
    display: flex;
    justify-content: flex-end;
}



.input {
    border: 1px solid #000000; 
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;   
    padding: 6px;
    font-weight: normal;
    flex-grow: 1;
}

.addlist {
    font-size: 15px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}
.addlist:hover {
    background-color: lemonchiffon;
}


.daylyProgress{
    width: 100%;    
    display: flex;
    justify-content: center;
}

.navigateButtons {
    background: #DFE9EE;
    color: black;
    padding: 10px;
    min-width: 150px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin: 10px;
    cursor: pointer;
    border: 1px solid #707070;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
  .navigateButtons:hover{
    background-color: #fff;
    border: 1px solid #707070;
    color:black;
    font-style: italic;
  }




  .header{
      font-weight: bold;
  }

  .listNameContainer{ 
    display: flex;
    flex-wrap: wrap;
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 5px;
    text-align: center;    
    align-items: center;
    background-color: inherit;
    font-weight: inherit;
    outline: none;
    position: relative;
    cursor: pointer;
    justify-content: space-between;
}

.listNameColor{   
    position: absolute;
    left: 0;
    z-index: -1;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.listNameText{
    width: 40%;    
    text-align: center;
    margin-bottom: 2%;   
}
 
/* .reactDatepicker {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    background-color: #a66;
    color: #000;
    border: 0px;
    border-radius: 0;
    display: inline-block;
    position: relative;
  } */

  /* background: #DFE9EE;
  color: black;
  padding: 10px;
  min-width: 150px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  margin: 10px;
  cursor: pointer;
  border: 1px solid #707070;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  text-align: center; */

  /* .buttonNextDay {
	margin: 2rem auto;
	text-align: center;
    min-width: 110px;
    margin: 0 auto;
    margin: 10px;
	padding: 5px;
    background: #F7F7F2;
  border: 1px solid #707070;    
	color: black;
  position: relative;
}
.buttonNextDay p {
	vertical-align: middle;
	/* font-family: "Lato";
	font-size: 1.75rem; */
/* } */
/* .buttonNextDay::after {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #707070;    
   
  border-color: transparent #707070;
  border-style: solid;
  border-width: 20px 0px 20px 20px;
  top: 0;
  left: 100%;
}  */




.buttonNextDay {
    width: 120px;
    margin: 20px;
    margin-left: 10px;
    background: #F7F7F2;
    border: 1px solid #707070;    
    position: relative;
    padding: 6px;
    text-align: center;
    color: black;
    cursor: pointer;
}

.buttonNextDay:after,
.buttonNextDay:before {
    content: '';
    display: block;
    position: absolute;
    left: 100%;
    width: 0;
    height: 0;
    border-style: solid;
}

.buttonNextDay:after {
    top: 0px;
    border-color: transparent transparent transparent #F7F7F2;
    border-width: 13.7px;
}

.buttonNextDay:before {
    top: -1px;
    border-color: transparent transparent transparent #707070;
    border-width: 14.7px;
}

.buttonNextDay:hover{
    color:black;
    font-style: italic;
  }

 /* } */


  .buttonPreviouseDay {
    width: 120px;
    margin: 20px;
    margin-right: 10px;
    background: #F7F7F2;
    border: 1px solid #707070;    
    position: relative;
    padding: 6px;
    text-align: center;
    color: black;
    cursor: pointer;
}

.buttonPreviouseDay:after,
.buttonPreviouseDay:before {
    content: '';
    display: block;
    position: absolute;
    right: 100%;
    width: 0;
    height: 0;
    border-style: solid;
}

.buttonPreviouseDay:after {
    top: 0px;
    border-color:transparent #F7F7F2  transparent transparent ;
    border-width: 13.5px;
}

.buttonPreviouseDay:before {
    top: -1px;
    border-color:transparent #707070  transparent transparent ;
    border-width: 14.5px;
}

.buttonPreviouseDay:hover{
    color:black;
    font-style: italic;
  }