.container {    
    /* position: absolute;
    left: 30%;
    top: 15vh;   */
    
    position: fixed;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);


    width: 45%;
    z-index: 30;
    min-width: 300px;
    min-height: 50vh;
    height: auto;
    background-color:#EDF5F9;
    border: solid 2px #707070;
    border-radius: 27px;  
    padding: 2%;
    overflow-y: auto;
}

.alerts{
    width: 100%;
    height: 5%;    
}

.inner-container{
    width: auto;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
}

.logo{
    margin: 1%;
    margin-top: 0%;
    margin-right: 2%;
    height: 90%;
    /* width: 10%; */
}
.right-side{
    /* width: 80%; */
   height: 90%;  
   display: block;
   align-items: center; 
   justify-content: center; 
   flex: auto;  
}

.title {
    width: 80%;
    /* text-align: center; */
    color: black;
    text-decoration: underline;
    margin: 0 auto;
    margin-bottom: 2%;
    /* margin-left: 15%;   */
    font-size: 1.8em;
    font-weight: 600;
    text-align: center;
}

.input-container{
    align-items: center;
    width: 30%;
    margin: 5% auto;    
    margin-bottom: 2%;
}

.pass-instructions{
    font-size: 0.7em;
    
}

.pass-input{
    border: solid 1px #363338;
    border-radius: 5px;
    height: 1.5em;
    width: 100%;
    margin: 0 auto;
    outline: none;
}

.login-button{
    color: #fff;
    background-color: #363338;
    border-radius: 15px;
    width: 100%;
    height: 1.9em;
    border: none; 
    margin: 0 auto;
    z-index: 1;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    outline: none;
  }

  .button-div-login{
    margin: 5% auto;
    width: 25%;     
}

.text-login{
    margin: 5% auto;
    width: 45%;  
    text-align: center;   
}


  .new-pass-alert{
    background-color: rgb(219, 88, 88);  
    max-width: 300px;
    height: auto; 
    padding: 5px;
    margin: auto; 
  }
