.list{
    border: 2px solid #363338;
    background-color: #A6A48E;
    border-radius: 25px;
    margin: 10px;
    min-width: 350px;
    height: 60px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.16);
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.input {
    border: 1px solid #000000; 
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;   
    padding: 6px;
    font-weight: normal;
    flex-grow: 1;
}

.button {
    font-size: 1rem;
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #C1CBCF;
}