.aside {
    z-index: 10;
}

.container {
    position: fixed;
    left: 0;
    display: block;
    width: 50px;
    height: 100vh;
    background-color: #363338;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F7F7F2;
    border: 1px solid #363338;
    font-size: 20px;
    font-weight: bold;
}

.button {
    margin-top: 5px;
    border-bottom: 1px solid #707070;
    height: 25px;
    padding: 10px;
}

.logo {
    border-bottom: 1px solid #707070;
    height: 50px;
    padding: 15px;
}

.topleft {
    border-bottom: 1px solid #707070;
    height: 40px;
    padding: 8px;
    padding-top: 32px;
}

.menu {
    position: fixed;
    left: 50px;
    width: 120px;
    height: 100vh;
    background-color: #A6A48E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #F7F7F2;
    border: 1px solid #363338;
}

.topright {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #363338;
    align-items: flex-start;
}


.link {
    color: #363338;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #A6A48E;
    text-align: start;
    padding: 5px;
    width: auto;
    margin: 8.5px;
}

.link:hover {
    background-color: #EDF5F9;
    border: 1px solid #707070;
}

.bottomright {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 50px;
}