.card{
    border: 1px solid #000000; 
    background-color: #FFFFFF;
    border-radius: 10px;
    margin: 10px;   
    display: flex;   
    justify-content: space-between; 
    padding: 5%;
    font-weight: normal;
}

.users {   
    margin: 20px;
    border: solid 1px black;  
    flex-wrap: wrap; 
    display: inline-block
}

.editButton{
    display: block;
    margin-top: 5px;
    margin-right: 5px;
    flex-flow: wrap;
    width: 20%;
    
 }