.container {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    height: auto;
    flex-wrap: wrap;
}

@media (max-width: 1120px) {
    .container {
        display: block;
    }
}

.inputs-container {
    height: auto;
    flex-wrap: wrap;
    min-width: 42%;
    flex-grow: 1;
    max-width: 700px;
}

.pic-container {
    width: auto;
    min-width: 200px;
    max-width: 500px;
    flex-grow: 1;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.pic1 {
    margin-top: 8%;
    width: 90%;
    min-width: 300px;
    height: auto;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-input-placeholder {
    text-align: left;
}

:-moz-placeholder {
    /* Firefox 18- */
    text-align: left;
}

::-moz-placeholder {
    /* Firefox 19+ */
    text-align: left;
}

:-ms-input-placeholder {
    text-align: left;
}

::-webkit-scrollbar {
    display: none;
}