.aside {
    z-index: 9;
}

.container {
    position: fixed;
    left: 0;
    display: block;
    width: 50px;
    height: 100vh;
    background-color: #363338;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F7F7F2;
    border: 1px solid #363338;
    font-size: 1.3rem;
    font-weight: bold;
}

.button {
    margin-top: 5px;
    border-bottom: 1px solid #707070;
    height: 25px;
    padding: 10px;
}

.logo {
    border-bottom: 1px solid #707070;
    height: 50px;
    padding: 15px;
}

.top-left {
    border-bottom: 1px solid #707070;
    height: 40px;
    padding: 8px;
    padding-top: 32px;
}

.menu {
    position: fixed;
    left: 50px;
    width: 120px;
    height: 100vh;
    background-color: #A6A48E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #F7F7F2;
    border: 1px solid #363338;
}

.top-right {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: 1px solid #363338;
    align-items: flex-start;
}


.link {
    box-sizing: content-box;
    color: #363338;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #A6A48E;
    text-align: start;
    padding: 5px;
    width: 5.5rem;
    margin: 8px;
}

.link:hover {
    background-color: #EDF5F9;
    border: 1px solid #707070;
}

.bottom-right {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 50px;
    overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.bottom-right::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
.bottom-right {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.bell {
    position: absolute;
    right: 10px;
}

.hamburger {
    cursor: pointer;
}

.settings {
    color:#363338;
    text-decoration: none;
    display: inline-block;
    height: auto;
    cursor: pointer;
    vertical-align: center;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width:700px) {
    .container{
        margin-top: 80px;
    }
    .top-left{
      display: none;
    }
    .menu{
      display: none;   
    }
}