.container {
    margin-top: 2%;    
}

.form {
    position: fixed;
    left: 25%;
    top: 25%;
    z-index: 30;
    width: 50%;  
    height: auto;
}

.current-members{
    text-align: center;    
    background-color: #DFE9EE;
    height: 100%; 
    color: white;
}

.admins-container{
    margin: 5%; 
    width: 90%;
    height: auto; 
    display: flex; 
    justify-self: start; 
    align-items: center; 
}

.admins{
    margin: 2%;
}

.big-container{ 
    height: auto; 
    min-height: 100%;   
    justify-content: space-between;
    align-items: center; 
}

.members-container{   
    margin: 5%; 
    width: 90%;
    height: auto;    
    display: flex;     
    justify-content: space-between;
    align-items: center; 
}

.title{
    width: fit-content;
    margin-right: 1%;
}

.select-for-invite{
    height: 0;
}

.members {
    z-index: 25;  
    border: solid 1px #363338;
    border-radius: 10px;
    font-size: 1.2rem;
    height: auto;
    max-height: 150px;
    padding: 10px;
    overflow-y: auto;
    background-color:#DFE9EE;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

.member-select {
    min-width: 80%;
    width: auto;
    min-width: 180px;
    height: 40px;
    margin: 4%;
    margin-left: 0;
    background-color:#DFE9EE;
    border: solid 1px #363338;
    border-radius: 10px;
}

.add-button{
    cursor: pointer;
    margin:5%;
    width: 10%;
}
.draggable {   
    width: 100%;
}

.droppable {
    min-height: 40px;
    height: auto;
    width: 100%;
    flex-grow: 1;
}

.droppable-members {
    min-height: 40px;
    height: auto;
    width: 100%;
    flex-grow: 1;
}

.input-container{
    align-items: center;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 2%;
    font-weight: normal;
    display: flex;
}

.text-invite{
    width: 30%;
}

.invite-input{
    width: 70%;
    z-index: 20;
}

.members-input{
    border: solid 1px #363338;
    border-radius: 10px;
    padding: 0.5%;
    height: 1.8em;
    width: 96%;
    margin-left: 0%;
    text-align: left;
    background-color: #DFE9EE;
    outline: none;
    padding: 2%;
    padding-right: 1%;
    font-size: 1rem;
}

.user {
    width: 100%;
    margin-bottom: 0.5%;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}
.email {
    font-size: 0.9rem;
}