.container {
    margin-top: 5%;    
    height: 200px;
}

.form {
    position: fixed;
    left: 25%;
    top: 25%;
    z-index: 30;
    width: 50%;  
    height: auto;
}

.current-members{
    text-align: center;    
    background-color: #DFE9EE;
    height: 100%; 
    color: white;
}

.adminsContainer{
    margin: 5%; 
    width: 80%;
    height: auto; 
    display: flex; 
    justify-self: start; 
    align-items: center; 
}

.admins{
    margin: 2%;
}

.bigContainer{   
    /* margin: 5%;  */
    width: 90%;
    margin: 0 auto;
    margin-left: 5%;
    height: auto; 
    min-height: 100%;   
    /* display: flex;  */
    justify-content: space-between;
    align-items: center; 
}

.membersContainer{   
    margin: 5%; 
    width: 100%;
    height: auto;    
    display: flex;     
    justify-content: space-between;
    align-items: center; 
}

.title{
    width: 20%;
    margin-right: 1%;
}

.members{
    width: 70%;
    margin: 0, auto;
    margin-left: 23%;
    /* height: 90%; */
    /* min-height: 45px; */
}

.memberSelect {
    min-width: 80%;
    width: auto;
    min-width: 180px;
    height: 40px;
    margin: 4%;
    margin-left: 0;
    background-color:#DFE9EE;
    border: solid 1px #363338;
    border-radius: 10px;
}

.addButton{
    cursor: pointer;
    margin:5%;
    width: 10%;
}
.draggable {   
    width: 100%;
}

.droppable {
    min-height: 40px;
    height: auto;
    width: 100%;
    flex-grow: 1;
}

.droppableMembers {
    min-height: 40px;
    height: auto;
    width: 100%;
    flex-grow: 1;
}