.container {
    text-align: center;
    background-color: rgb(100, 101, 184);
    height: 100%;

}

.form {
    position: fixed;
    left: 25%;
    top: 25%;
    z-index: 30;
    width: 50%;  
    height: auto;
}

.current-members{
    text-align: center;
    background-color: rgb(166, 167, 221);
    height: 100%; 
}