.members {
    position: relative;
    /* overflow-y: scroll; */
    -ms-overflow-style: none; 
    scrollbar-width: none;
    cursor: pointer;  
}

.members::-webkit-scrollbar {
    display: none;
}

.avatar{
    margin-bottom: 2%;
    /* width: 50px;
    height: 50px; */
}