.container {    
    position: fixed;
    left: 30%;
    top: 15%;
    z-index: 50;
    width: 49%;
    min-height: 78%;
    background-color:#EDF5F9;
    border: solid 2px #707070;
    border-radius: 27px;
    display: flex;
}


.logo{
    margin: 5%;
    margin-top: 5%;
    margin-right: 2%;
    height: 100%;
    width: 10%;
}
.rightSide{
    width: 80%;
   height: 100%;
   /* margin-right: 25%; */
   margin-top: 5%;  
   align-items: center;
}

.title {
    width: 80%;
    /* text-align: center; */
    color: black;
    text-decoration: underline;
    margin: 0 auto;
    margin-bottom: 2%;
    /* margin-left: 15%;   */
    font-size: 1.8em;
    font-weight: 600;
    text-align: center;
}

.inputContainer{
    align-items: center;
    width: 30%;
    margin: 5% auto;    
    margin-bottom: 2%;
}

.passInstructions{
    font-size: 0.7em;
    
}

.passInput{
    border: solid 1px #363338;
    border-radius: 5px;
    height: 1.5em;
    width: 100%;
    margin: 0 auto;
}

.loginButton{
    color: #fff;
    background-color: #363338;
    border-radius: 15px;
    width: 100%;
    height: 1.9em;
    border: none; 
    margin: 0 auto;
    z-index: 1;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
  }

  .buttonDivLogin{
    margin: 5% auto;
    width: 25%;     
}

.textLogin{
    margin: 5% auto;
    width: 45%;  
    text-align: center;   
}

  .textDiv{      
    text-align: center; 
  }

  .forgotPass{
    text-decoration: underline;
    font-weight: lighter;
    margin-bottom: 5%;
    color: #363338;
  }

  .newToSmM{    
    font-weight: lighter;
    margin-bottom: 5%;
    color: #363338;
  }

  .signUpBtn{
      border: none;
      text-decoration: underline;
      color: #F3981F;
      margin: 2%;
      cursor: pointer;
      font-weight: 500;
      font-size: 1em;
  }

