.input-name {
	border: 1px solid #000000;
	background-color: #EDF5F9;
	border-radius: 4px;
	margin: 2px;
	padding: 6px;
	font-weight: normal;
	font-family: 'Lato';
	font-size: inherit;
	min-height: 1rem;
	flex-grow: 1;
}

.input-name::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-family: 'Lato';
	font-size: 0.8rem;
}

.input-name::-moz-placeholder {
	/* Firefox 19+ */
	font-family: 'Lato';
	font-size: 0.8rem;
}

.input-name:-ms-input-placeholder {
	/* IE 10+ */
	font-family: 'Lato';
	font-size: 0.8rem;
}

.input-name:-moz-placeholder {
	/* Firefox 18- */
	font-family: 'Lato';
	font-size: 0.8rem;
}

.dayly-progress {
	width: 100%;
	min-height: 2rem;
	display: flex;
	justify-content: center;
}

.week-day-cell {
	width: 100%;
	padding: 5px;
	border: 1px solid #363338;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cell-data { 
	white-space: normal; 
	overflow-wrap: anywhere; 
	text-align: left;
	height: 100%;
}

.header {
	font-weight: bold;
}

.filter {
	min-height: 2.6em;
	max-height: 2.6em;
}

.nav-buttons {
    display: block;
    background: #DFE9EE;
    color: black;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 0 auto;
    margin: 10px;
    border: 1px solid #707070;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Lato';
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}

.nav-buttons:hover {
    background-color: #363338;
    border: 1px solid #707070;
    color: white;
}

.filter-clear {
    cursor: pointer;
    margin-left: 0;
    width: 1.5rem;
    background-color: #3633384f;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.date-container {
	color: black;
}

.date-container div:first-child {
	font-weight: 600;
}

.date-container div:last-child {
	font-size: 0.8em;
}

@media (max-width: 1366px) {
	.nav-buttons {
		font-size: 0.8rem;
		min-height: unset;
		max-height: unset;
	}
}