.app {
  height: 70vh;   
  margin: 0px;
  display: flex;
  box-sizing: border-box;
}

.container {
  padding: 0.5%;
  display: inline-block;
  height: auto;
  margin-bottom: 5%;
  height: 90vh;
  overflow-y: scroll;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-width: 60%;
  height: 100%;   
}