* {
  margin: 0;
  padding: 0;
}

.app {
  max-width: 100%;
  margin: 0 auto;
}

.container {
  margin-top: 100px;
  padding: 0.5%;
  display: inline-block;
  width: 100%;
  height: auto;
  margin-bottom: 5%;
}