.link {
  color: white;
  text-decoration: none;
  display: inline-block;
  height: auto;
  cursor: pointer;
  margin: 0.1%;
  margin-top: 7px;
  vertical-align: center;
  padding: 10px;
  flex-grow: 1;
}

.link:hover {
  font-weight: bold;
}