.link {
  color:#363338;
  text-decoration: none;
  display: inline-block;
  height: auto;
  cursor: pointer;
  margin: 0.1%;
  vertical-align: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.link:hover {
  background-color: #C1CBCF;
}