.title {
    padding: 1.5rem;
    color: #363338;
    text-decoration: underline;
    font-size: 1.5rem;
    text-align: center;
    height: 80px;
}

.button-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 1100px;
}

.team-buttons{
    width: 100%;
}

.teams {
    background: #A6A48E;
    color: #363338;
    padding: 0.5rem;
    min-width: 8rem;
    max-width: 250px;
    height: 3rem;
    border-radius: 0.5rem;
    display: block;
    margin: 1rem 0.5rem 1.5rem 0.5rem;
    cursor: pointer;
    border: 1px solid #707070;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.3rem;
    font-weight: bold;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.teams:hover {
    background: #363338;
    color: #F7F7F2;
}

.projects-button {
    width: 13rem;
}

.selected {
    position: relative;
    bottom: 0.5rem;
    background: #363338;
    color: #F7F7F2;
    height: 4rem;
    border-radius: 1rem;
    margin-top: 0;
}

.pic {
    text-align: center;
}

.pic > img {
    width: 30%;
    min-width: 300px;
}

.box {
    box-sizing: border-box;
}

.box *, *:before, *:after {
    box-sizing: inherit;
}