.navigation {
  position: fixed;
  top: 0;
  left: 0px;
  display: flex;
  height: 80px;
  background-color:  #363338;
  margin-left: 50px;
  color: #F7F7F2;
  width: calc(100% - 50px);
  border: 1px solid #363338;
  font-size: 20px;
}

.small {
  left: 121px;
  width: calc(100% - 171px);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.links {
  display: flex;
  align-items: center;
}

.margin {
  margin: 20px;
}

.logout {
  color: #F7F7F2;
  margin: 20px;
  text-decoration: none;
  cursor: pointer;
}

.input {
  height: 25px;
  border-radius: 10px;
  width: 250px;
  padding-left: 10px;
  padding-right: 10px;
}