.title {
    padding: 1.5rem;
    color: #363338;
    text-decoration: underline;
    font-size: 1.5rem;
    text-align: center;
    height: 80px;
}

.teams {
    background: #A6A48E;
    color: #363338;
    padding: 0.5rem;
    min-width: 8rem;
    max-width: 250px;
    height: 3rem;
    border-radius: 0.5rem;
    display: block;
    margin: 0 auto;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    border: 1px solid #707070;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.3rem;
    font-weight: bold;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.teams:hover {
    background: #363338;
    color: #F7F7F2;
}

.selected {
    position: relative;
    bottom: 0.5rem;
    background: #363338;
    color: #F7F7F2;
    height: 4rem;
    border-radius: 1rem;
}

.pic {
    text-align: center;
}

.pic > img {
    width: 30%;
    min-width: 300px;
}

.project {
    width: 100%;
    min-width: 1100px;
    margin-bottom: 20px;
    background-color: #F7F7F2;
    border-radius: 19px;
    border: solid 1px #707070;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.project-name {
    font-size: 1.7rem;
    color: #363338;
    margin: 15px;
    margin-left: 20px;
    font-weight: normal;
}

.link {
    text-decoration: none;
    color: #363338;
}

.bold {
    font-weight: bold;
}

.header {
    font-weight: bold;
    text-decoration: underline;
}

.card {
    display: flex;
    margin-left: 20px;
    font-size: 1.1rem;
    height: 35px;
}

.card > div {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    color: #363338;
}

.list-container {
    width: 100%;
    display: flex;
}

.list {
    width: 30%;
}

.task {
    width: 35%;
}

.progress {
    width: 13%;
    text-align: center;
}

.days {
    width: 13%;
    text-align: center;
}