.title {
    padding: 1.5rem;
    color: #363338;
    text-decoration: underline;
    font-size: 1.5rem;
    text-align: center;
    height: 80px;
}

.button-container{
    display: flex;
}

@media screen and (max-width:400px) {
    .button-container{
        flex-wrap: wrap;
    }   
}

.team-buttons{
    width: 100%;
}

.teams {
    background: #A6A48E;
    color: #363338;
    padding: 0.5rem;
    min-width: 8rem;
    max-width: 250px;
    height: 3rem;
    border-radius: 0.5rem;
    display: block;
    margin: 0 auto;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    border: 1px solid #707070;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.3rem;
    font-weight: bold;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.teams:hover {
    background: #363338;
    color: #F7F7F2;
}

.projects-btn-div{
    display: flex;
    align-items: flex-end;
    width: fit-content;
}

.projects-button{
    margin-top: 16px;
}


.selected {
    position: relative;
    bottom: 0.5rem;
    background: #363338;
    color: #F7F7F2;
    height: 4rem;
    border-radius: 1rem;
}

.pic {
    text-align: center;
}

.pic > img {
    width: 30%;
    min-width: 300px;
}

.box {
    box-sizing: border-box;
}

.box *, *:before, *:after {
    box-sizing: inherit;
}

.project {
    width: 100%;
    min-width: 1100px;
    margin-bottom: 20px;
    background-color: #F7F7F2;
    border-radius: 19px;
    border: solid 1px #707070;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

.project-name {
    font-size: 1.7rem;
    color: #363338;
    margin: 15px;
    margin-left: 20px;
    font-weight: normal;
}

.link {
    text-decoration: none;
    color: #363338;
}

.bold {
    font-weight: bold;
}

.header {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.1rem;
}

.raw {
    display: flex;
    width: 100%;
}

.container {
    display: flex;
    height: 35px;
    width: 70%;
}

.task-container {
    width: 70%;
}

.list {
    overflow-wrap: break-word;
    width: 30%;
    min-width: 30%;
    padding-left: 20px;
}

.task {
    width: 50%;
    padding: 0 10px;
}

.progress {
    width: 20%;
    text-align: center;
}

.days {
    width: 20%;
    text-align: center;
}