

.profile-pic {
    width: 200px;
    background-color: white;
    border-radius: 14px;
    border: 1px solid #707070;
    margin-bottom: 1%;
    overflow: hidden;
    cursor: pointer;
}

.profile-pic-container {
    width: 200px;
    text-align: center;
}

.profile-picture {
    width: 200px;
    height: 200px;
}

.relative {
    position: absolute;
}

.menu {
    background: #DFE9EE;
    position: absolute;
    border-radius: 10px;
    top: 8px;
    left: -100px;
    margin-right: 2px;
    top: -203px;
    z-index: 10;
}

.edit {
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.delete {
    border-bottom: 1px solid #707070;
    border-radius: 0 0 10px 10px;
    width: 100%;
}

.no-pic {
    height: 100px;
}

.load-pic-text {
    margin-top: 30%;
}

.pen {
    width: 12px;
    height: auto;
    margin-top: 5%;
}