.navigation {
    position: fixed;
    top: 0;
    left: 0px;
    display: flex;
    height: 80px;
    background-color:  #363338;
    margin-left: 50px;
    color: #F7F7F2;
    width: calc(100% - 50px);
    border: 1px solid #363338;
    font-size: 1.3rem;
    font-weight: bold;
    z-index: 9;
}
  
.small {
    left: 121px;
    width: calc(100% - 171px);
}
  
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
  
.links {
    display: flex;
    align-items: center;
}
  
.font {
    font-size: 1rem;
    position: relative;
}
  
@media (max-width: 700px) {
    .small {
        left: 0px;    
    }
  
    .navigation {
        margin-left: 0;
        width: 100%;
    }
}