@font-face {
  font-family: 'myLucida' ;
  src: url('../../fonts/LCALLIG.TTF') format('truetype');
}



.container {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  min-height: 100%;
}

.top-container {
  width: 100%;
  height: auto;
  min-height: 78vh;
  background: rgb(166,164,142);
  z-index: -10;
}

.top-div-container{
  width: 100%;
  height: auto;
  min-height: 30%;
  background-color:#EDF5F9;
  position: relative;
}

.header-nav{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.logo{  
  flex-grow: 1;
  width: 10%;
  max-width: 10%;
  margin: 2%;
  margin-right: 50%;
  margin-bottom: 1%;
}


.first-buttons{
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin-top: 1.5%;
  margin-bottom: 2%;
  justify-content: center;
  z-index: 5;
}

.login-button{
  color: #fff;
  background-color: #363338;
  border-radius: 15px;
  width: 6em;
  height: 1.5em;
  border: none; 
  margin: 0.5em;
  z-index: 1;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
}

.login-button:hover{
  background: #EDF5F9;
  color: black; 
}

.sign-up-button {
  width: 6em;
  height: 1.5em;
  border-radius: 15px;
  z-index: 1;
  margin: 0.5em;
  color: #F7F7F2;  
  background: #363338;
  border: solid 0px #707070;
  font-size: 1.5em;
  font-weight: 600;
  cursor: pointer;
  right: 35px;
  top: 40px;
  outline: none;
}
.sign-up-button:hover{
  background: #EDF5F9;
  color: black; 
}


.pic1 {     
  overflow: hidden;
  position: absolute;
  right: 0;
  top: -70px;
  width: 100%;
  height: auto;
  max-width:800px;
  width: 50vw;
}

.pic2 {  
  z-index: 0;  
  position: absolute;
  right: 7vw; 
  top: 100px;
  width: 30vw;
}

.lower-div-container{
  height: auto;
  min-height: 55vh;
  /* max-height: 150px; */
  background: rgb(237,245,249);
  background: linear-gradient(180deg, rgba(237,245,249,1) 1%, rgba(166,164,142,1) 100%);
}

.first-text{
  margin-left: 10%;
  margin-right: 45%;  
  z-index: 50;
  text-align: center;
  height: auto;
}

.headers{
  z-index: 5;
  font-weight: 600;
  /* font-style: italic; */
  font-size: 2.5em;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.lucida{
  font-weight: lighter;
  font-size: 1.1em;
  font-family: 'myLucida', cursive;
}

.paragraph{
  font-weight: lighter;
  margin-top: 3%; 
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.second-sign-up-button{
  width: 200px;
  height: 50px;
  border-radius: 34px;
  color: #F7F7F2;  
  background: #363338;
  border: solid 1px #707070;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5%;
}

.second-container {
  width: 100%;
  height: auto;
}

.first-row{
  margin-top: 2%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}

.second-text{
  margin: 2%;
  margin-top: 3%;
  flex-grow: 1;
  text-align: center;
}

.third-sign-up-button{
  width: 200px;
  height: 50px;
  border-radius: 34px;
  color: black;  
  background: #F3981F;
  border: solid 2px black;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 5%;
}

.pic3-container {  
  width: auto;
  margin: 2%;
  max-width: 90%;
  flex-grow: 1;
  display: flex;
  justify-content: center;  
}

.pic3 {  
  max-width: 100%;  
  /* height: 593,1px; */
  /* margin-top: 5%;
  margin-left: 6%; */
}


.second-row{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}

.third-text{
  margin: 5%;
  margin-top: 7%;
  margin-bottom: 2%;
  flex-grow: 1;
}

.pic4-container {  
  width: 615px;
  /* height: 593,1px; */
  margin:5%;
  max-width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.pic4 { 
  max-width: 100%;  
}

.pic5{
  margin-top: 15%;
  max-width: 100%;
}

.third-row{  
  height: auto;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.last-text{
  margin-top: 2%;
  width: 100%;
  height: auto;
}

.last-headers{
  text-align: center;
  z-index: 5;
  font-weight: 600;
  font-size: 2.5em;
  font-family: 'Lato', sans-serif;
}

.last-paragraph{
  font-weight: lighter;
  margin-top: 3%; 
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.5em;
  text-align: center;
  
}

.last-sign-up-button{
  width: 200px;
  height: 50px;
  border-radius: 34px;
  color: #F7F7F2;  
  background: #363338;
  border: solid 1px #707070;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5%;
  margin-right: 40%;
  margin-left: 40%;

}

.pic6-container{
  width: 100%;
  display: flex;
  justify-content: center;  
  margin-bottom: 15%;
}

.pic6{ 
  max-width: 100%;
}

.content-wrap{
  padding-bottom: 2.5rem
}

.footer{  
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background: #363338;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


.footer-column{
  width: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;  
}

.footer-headers{
  font-size: 1em;
  width: auto;
}

.footer-info{
  margin-left: 5%;
}

.last-column{
  width: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: stretch;  */
}

.social-media-container{
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.social-media{
  width: auto;  
  max-width: 70%;
}


.sd2006{  
 text-align: center;
}