.link {
  color: rgb(14, 11, 11);
  text-decoration: none;
  display: inline-block;
  height: auto;
  cursor: pointer;
  margin: 0.1%;
  margin-top: 10px;
  vertical-align: center;
  padding: 10px;
  margin-bottom: 5px;
}

.link:hover {
  font-weight: bold;
}