.container {
    text-align: center;
    background-color: rgb(43, 226, 89);
    height: 100%;

}

.form {
    position: fixed;
    left: 25%;
    top: 25%;
    z-index: 20;
    width: 50%;
    height: 25%;
}

.membersList{
    margin: 2%;
}
.editMembers {
    background-color: rgb(43, 226, 89);
}