.submit {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 1px;
  background-color: inherit;
  font-weight: inherit;
  outline: none;
}

.name {
  color: #363338;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: auto;
  white-space: nowrap;
}

.opacity {
  opacity: 0.5;
}