fieldset {
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    border: none;
    min-inline-size: min-content;
}

.container {
    position: relative;
}

.btn-container {
    display: flex;
}

.btn-clicked {
    background-color: #363338;
    color: white;
}

.btn-partial {
    width: 9rem;
    min-height: 2.6rem;
    max-height: 2.6rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
    border-right: 0;
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn-partial:hover {
    border: 0;
}

.btn-whole {
    width: 10.5rem;
}

.options {
    position: absolute;
    width: 100%;
    box-sizing: content-box;
    background: #DFE9EE;
    border-bottom: 1px solid #707070;
    border-top: none;
    border-radius: 10px;
    z-index: 3;
    overflow-y: auto;
    top: 3.5rem;
}

.option {
    border: 1px solid #707070;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    padding: 0.3rem;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.option:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 0.3rem;
}

.option:last-of-type {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.option:hover {
    background-color: #C1CBCF;
}

@media (max-width: 1366px) {
    .btn-partial {
        min-height: unset;
        max-height: unset;
    }
}