.container {    
    position: fixed;
    left: 30%;
    top: 15%;
    z-index: 20;
    width: 45%;
    height: auto;
    max-height: 80%;
    background-color:#F7F7F2;
    border: solid 2px#707070;
    border-radius: 27px;
    color: black;
}

.title {
    width: 100%;
    text-align: center;
    color: black;
    text-decoration: underline;
    margin: 2%;    
    font-size: 1.8em;
    font-weight: 500;
}

.inputContainer{
    align-items: center;
    width: 100%;
    margin-left: 25%;
    margin-bottom: 1%;
}

.inputContainerInvite{
    align-items: center;
    width: 100%;
    margin-left: 22%;
    margin-bottom: 1%;
}

input{
    border: solid 1px #363338;
    border-radius: 10px;
    height: 1.8em;
    width: 38%;
    margin-left: 2%;
    text-align: center;
    background-color:#DFE9EE;
}

.inputInvite{
    border: solid 1px #363338;
    border-radius: 10px;
    height: 1.8em;
    width: 20%;
    margin-left: 2%;
    text-align: center;
    background-color:#DFE9EE;
}

.inputContainerDescr{    
    width: 100%;    
    margin-left: 25%;
    margin-bottom: 1%;
    display: flex;
}

.textarea{
    border: solid 1px #363338;
    border-radius: 10px;
    padding: 1%;
    height: 5em;
    width: 30%;
    margin-left: 2%;  
    background-color: #DFE9EE; 
    resize: none; 
}


.buttonDiv{
    margin: 5%;
    margin-bottom: 2%;
    margin-left: 40%;
}

.createButton{
    background: #DFE9EE;
    color: black;
    padding: 10px;
    min-width: 150px;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin: 10px;
    cursor: pointer;
    border: 1px solid #707070;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  .membersAvatars{
      margin-left: 30%;
      margin-right: 30%;
      margin: 2%;
      /* display: flex; */
  }

.membersDiv{
    margin: 5%;
    margin-top: 0%;
}

.members {    
    z-index: 25;  
    border: solid 1px #363338;
    border-radius: 27px;
    width: 30%;
    height: auto;
    max-height: 150px;
    padding: 10px;
    overflow-y: auto;
    margin-left: 46%;
    background-color: #EDF5F9;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

.members::-webkit-scrollbar {
    display: none;
}

.user {
    width: 100%;
    margin-bottom: 0.5%;
    border-radius: 27px;
}

.email {
    font-size: 13px;
}