.projectInfoContainer {
    flex-grow: 1;
    width: 30%;
}

.calendar-container {
    flex-grow: 10;
    display: grid;
}

.layout-container {
    margin: 90px 0 0 56px;
    padding: 0 4px 4px 0;
    width: calc(100vw - 56px);
}

.table {
    border: solid red 1px;
    width: 1000px;
    height: 500px;
    border-radius: 5px;
}

.column {
    width: 250px;
    height: auto;
    border: solid blue 2px;
    border-radius: 5px;
}

.columnChild {
    width: auto;
}

.daylyElement {
    width: 300px;
    height: 50px;
    border: solid blue 2px;
}

